.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
}


@media (max-width: 484px) {
  .products-container {
    justify-content: center;
  }
}