.products-category-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

@media (max-width: 484px) {
  .products-category-container {
    justify-content: center;
  }
}